/* home page */
.blue-box {
  background-color: rgb(235, 133, 255);
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.home-header {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-left: 70px;
}

.home-header img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 30%;
  margin-bottom: 10px;
}

.home-header h1 {
  margin: 0;
  margin-left: 50px;
  font-size: 6rem;
  text-align: center;
  color: white;
}

.side-nav {
  margin-top: 40px;
  width: 90%;
  padding: 14px 16px;
  background-color: transparent;
  color: rgb(235, 133, 255);
  border-radius: 12px 0 0 12px;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.home-nav-button {
  height: 55px;
  width: 250px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  background-color: rgb(235, 133, 255);
  color: white;

  padding: 1 12px;
  box-sizing: border-box;
}

.home-text-content {
  margin: 3vh auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 800px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-text {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

main,
.page-content {
  margin-left: 220px;
}

.selection-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 220px;
  padding: 16px;

  background-color: rgb(235, 133, 255);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
  gap: 20px;
}

.selection-bar-buttons {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selection-buttons {
  width: calc(100% - 30px);
  padding: 14px;
  margin-top: 40px;

  display: flex;
  align-items: center;

  text-decoration: none;
  border-radius: 12px;

  background-color: white;
}

.selection-buttons.active {
  background-color: white;

  width: calc(100% - 10px);
  border-radius: 14px 0 0 14px;
}

.top-name {
  margin-top: 50px;
  font-size: 2.8rem;   
  color: white;

  text-align: center;
  margin-bottom: 10px;
}

.page-content {
  margin-top: 3vh;
  padding: 32px;
  box-sizing: border-box;
  flex: wrap;
}

.page-title {
  margin: 0 0 24px 0;
  font-size: 2.2rem;
  font-weight: bold;
  margin-left: 50px;
}

.project-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 50px;
}

.project-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px;
  border-radius: 14px;
  flex-direction: column;
  max-width: 600px;
}

.project-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  flex: 0 0 auto;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-btn {
  padding: 6px 14px;
  border-radius: 20px;

  background-color: rgb(235, 133, 255);
  color: white;
  text-decoration: none;

  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1; 

  white-space: nowrap; 
}

.project-btn:hover {
  background-color: rgb(235, 133, 255);
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.project-title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.project-desc {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

.qualifications-layout {
  flex-direction: row-reverse;
  display: flex;
  gap: 40px;
  padding: 20px;
  justify-content: flex-start;
}

.resume-section {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-shrink: 0;
}

.resume-link {
  padding: 12px 20px;
  background-color: rgb(235, 133, 255);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.resume-embeded iframe {
  width: 100%;
  border-radius: 12px;
}

.qualifications-sections {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: flex-start;
}

.qualiffications-text {
  padding: 18px;
  gap: 80px;
  max-width: 500px;
}

.qualiffications-text h2 {
  margin-bottom: 50px;
  margin-left: 0px;
}

.skills-list {
  margin-left: 0px;
  padding-left: 20px;
}

.skills-list li {
  margin-bottom: 6px;
}

.service-text {
  width: 350px;
  padding: 20px;
}

.service-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-left: 100px;
}

.service-img {
  width: 200px;
  height: 200px;

  border-radius: 30%;
  object-fit: cover;
}

.service-links {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-columns {
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
  gap: 150px;
}

.theme-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 18px;
  left: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.theme-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
}